.CartMain {
  background: #f8f6f4;
  min-height: 500px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.Watch {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.watchLeft {
  display: flex;
  gap: 2rem;
}
.watchLeft img {
  width: 196px;
  height: 195px;
  box-shadow: 0px 4px 30px -6px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}
.watchleftDesc {
  display: flex;
  flex-direction: column;
  width: 20rem;
}
.watchleftDesc h1 {
  font-weight: 500;
  font-size: 27px;
  text-transform: uppercase;
  color: #1e1e1e;
}
.watchleftDesc h4 {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: rgba(30, 30, 30, 0.65);
}
.watchleftDesc p {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(30, 30, 30, 0.45);
}
.Counter {
  display: flex;
  align-items: center;
  width: 100px;
  height: 40px;
  text-align: center;
  justify-content: space-between;
  background: #ffffff;
  border: 1px solid rgba(152, 115, 88, 0.12);
}
.CounterSelec {
  background: #ffffff;
  border: 1px solid rgba(152, 115, 88, 0.12);
  width: 55px;
  height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.counterValue {
  width: 100%;
  display: grid;
  place-items: center;
}
.CartPriceCon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  width: 200px;
}
.CartPriceCon h2 {
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  color: #1e1e1e;
}
.CartPriceCon p {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #987358;
  cursor: pointer;
}
.CartSubTotal {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(152, 115, 88, 0.5);
  border-bottom: 1px solid rgba(152, 115, 88, 0.5);
  padding: 2rem 0;
}
.CartSubTotal p {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: rgba(30, 30, 30, 0.6);
}
.CartSubTotal span {
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  color: #1e1e1e;
}
.CartTotal {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(152, 115, 88, 0.5);
  padding-top: 30px;
}
.CartTotal p {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: rgba(30, 30, 30, 0.6);
}
.CartTotal span {
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  color: #1e1e1e;
}
.cartCheckoutCon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.5s all ease-in-out;
}

.cartCheckoutCon button {
  width: 278px;
  height: 48px;
  background: #cbb9ac;
  border: 0;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;

  cursor: pointer;
}
.CartRight {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 1rem;
}
.ModalBox p {
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  text-transform: uppercase;
  color: #000000;
  width: 70%;
}

.ModalBox span {
  cursor: pointer;
  font-size: 20px;
}
.ModalBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.ModalBox h1 {
  font-weight: 400;
  font-size: 45px;
  font-family: "Iskry", sans-serif;
  text-transform: uppercase;
  color: #000000;
}
.questionsCon {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2rem;
  transition: 0.5s all ease-in-out;
}
.ModalBoxTopFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.questionsCon button {
  width: 405px;
  height: 93px;
  background: #ffffff;
  border: 1px solid #987358;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #000000;
}
.questionsCon button:hover {
  background: #cbb9ac;
  color: white;
}
.modalQuestion {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
@media only screen and (min-height: 1072px) {
  .CartPageWrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media only screen and (min-height: 667px) and (max-height: 740px) {
  .CartPriceCon {
    width: auto;
    gap: 2rem !important;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
  }
  .CartPriceCon h2 {
    font-size: 24px !important;
  }
  .CartPriceCon p {
    font-size: 14px !important;
    min-width: max-content;
  }
  .modalQuestion img {
    height: 30% !important;
  }
  .questionsCon {
    grid-gap: 1rem !important;
  }
  .CartRight {
    padding-top: 15px;
    flex-direction: column;
  }
}
.priceandnum {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media only screen and (max-width: 553px) {
  .questionsCon button {
    height: auto;
  }
  .ModalBox img {
  }
  .modalQuestion {
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 500px) {
  .ModalBox h1 {
    font-size: 23px !important;
    width: 100%;
  }
  .modalQuestion {
    flex-direction: column-reverse;
  }

  .questionsCon button {
    font-size: 12px !important;
  }
  .ModalBox h2 {
    font-size: 15px;
  }
  .CartPriceCon {
    align-items: center;
    flex-direction: row !important;
    width: 100%;
    text-align: right;
    gap: 0 !important;
    justify-content: space-between !important;
  }
  .CartRight {
    align-items: center !important;
    flex-direction: column;
  }
  .ModalBox {
    padding: 20px;
    position: relative;
  }
  .ModalBoxTopFlex span {
    position: absolute;
    top: 5%;
    right: 5%;
  }
  .ModalBoxTopFlex p {
    width: 90%;
  }
}
@media only screen and (max-width: 1000px) {
  .CartMain {
    margin-top: 30px;
    padding: 20px;
  }

  .Watch {
    flex-direction: column;
    gap: 1rem;
  }
  .CartPriceCon {
    flex-direction: column;
    align-items: right;
  }
  .CartRight {
    width: 100%;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 599px) {
  .CartMain {
    margin-top: 30px;
    padding: 20px 10px;
  }
  .watchleftDesc {
    width: 100%;
  }
  .CartPriceCon {
    gap: 3rem;
  }
  .watchLeft {
    gap: 1rem;
  }
  .questionsCon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
  }
  .questionsCon button {
    width: 350px;
    font-size: 15px;
  }
  .watchLeft img {
    width: 136.07px;
    height: 135.37px;
    border: 0.694214px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2.77686px 20.8264px -4.16528px rgba(0, 0, 0, 0.1);
    border-radius: 4.8595px;
  }
  .CartRight {
    gap: 0rem;
  }
  .watchleftDesc h1 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 320px) {
  .watchLeft {
    flex-direction: column;
  }
  .CartRight {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .Watch {
    align-items: center;
    justify-content: center;
  }
  .questionsCon button {
    font-size: 10px !important;
  }
  .modalQuestion img {
    width: 100%;
  }
}
@media only screen and (max-width: 1023px) {
  .questionsCon button {
    width: 250px;
    font-size: 13px;
  }
}
@media only screen and (min-width: 554px) and (max-width: 670px) {
  .questionsCon button {
    width: 200px;
    font-size: 13px;
  }
}
@media only screen and (max-width: 1024px) {
  .questionsCon {
    grid-template-columns: repeat(2, auto);
    place-items: center;
  }

  .ModalBox {
    width: 90%;
  }
  .ModalBox p {
    font-size: 16px;
  }
  .ModalBox h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 728px) {
}

@media only screen and (min-width: 1641px) {
  .CartMain {
    width: 85%;
    align-self: center;
  }
  .CartWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
