.compWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.CompetitionMain {
  display: flex;
  gap: 2.5rem;
  padding: 20px 50px 70px 50px;
}
.compDesc {
  background: #f8f6f4;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 50px 0px;
}
.compDesc h1 {
  font-weight: 400;
  font-size: 35px;
  font-family: "Iskry", sans-serif;
  text-transform: uppercase;
  color: #000000;
}
.compDet {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.compDetails {
  padding: 0px 100px;
  border-left: 2px solid #987358;
  border-right: 2px solid #987358;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.watchInfo {
  padding: 0px 100px;
  border-left: 2px solid #987358;
  border-right: 2px solid #987358;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}
.left span {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
  height: 50px;
  flex-wrap: wrap;
}
.left b {
  font-weight: 500;
  font-size: 24px;
  color: rgba(30, 30, 30, 0.77);
  flex: 1;
}
.compDet p {
  font-weight: 300;
  font-size: 24px;
  color: rgba(30, 30, 30, 0.77);
  flex: 1;
}
.images {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.images div {
  display: flex;
}

.CompetitionMain img {
  object-fit: cover;
}
.Counter {
  display: flex;
  align-items: center;
  width: 137px;
  justify-content: space-between;
  background: #ffffff;
  border: 1px solid rgba(152, 115, 88, 0.12);
}
.CounterSelec {
  background: #ffffff;
  border: 1px solid rgba(152, 115, 88, 0.12);
  width: 44px;
  height: 33px;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.counterValue {
  width: 50%;
  display: grid;
  place-items: center;
}
.CompRight {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
}
.CompTit {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.CompTit h1 {
  font-weight: 400;
  font-size: 45px;
  font-family: "Iskry", sans-serif;
  text-transform: uppercase;
  color: #000000;
  width: 60%;
}
.CompTit p {
  font-weight: 300;
  font-size: 30px;
  text-transform: capitalize;
  width: 30%;
  text-align: right;
  color: rgba(0, 0, 0, 0.6);
}
.tickets {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.5s ease;
}
.tickets button {
  border: 2px solid #b3b3b3;
  color: #b3b3b3;
  font-family: "Montserrat", sans-serif;

  border-radius: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;
  padding: 0;
}
.tickets button:hover {
  background-color: rgb(146, 124, 102, 0.3) !important;
  border: 2px solid rgb(146, 124, 102);
  color: white;
  transition: all 0.5s ease;
}
.showMore {
  width: 55px;
  height: 55px;
  background-color: transparent;
  font-size: 30px;
  cursor: pointer;
}
.tickets p {
  font-size: 11px;
}
.CompTicketSelec {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1rem;
}
.CompTicketSelec h3 {
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
}
.donations {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.donations div {
  display: flex;
  align-items: center;
}
.donations p {
  font-weight: 300;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}
.CompBot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.prices {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.prices p {
  font-weight: 300;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
}
.prices span {
  font-weight: 300;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.6);
}
.addtoCart {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.addtoCart button {
  width: 202px;
  height: 48px;
  background: #cbb9ac;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;

  color: white;
  border: 0;
  cursor: pointer;
}
@media only screen and (max-width: 930px) {
  .compWrapper {
    align-items: center;
  }
  .CompetitionMain {
    flex-direction: column;
    padding: 30px 0px 50px 0px;
    width: 100%;
  }
  .CompRight {
    padding: 0px 10px;
    width: 95%;
  }
  .CompTit {
    flex-direction: column;
    gap: 1rem;
  }
  .CompTit h1 {
    width: 100%;
  }
  .CompTit p {
    width: 100%;
    text-align: left;
  }
  .CompBot {
    flex-direction: column;
  }
  .tickets {
    width: 100%;
    gap: 0.3rem;
  }
  .donations {
    width: 100%;
  }
  .addtoCart {
    width: 100%;
  }
  .images {
    width: 100%;
  }
  .images div {
    width: 100%;
  }
  .innerImages img {
    width: 33.3%;
  }
  .MainImage {
    width: 100%;
  }
  .compDet {
    padding: 20px 25px;
  }
  .watchInfo {
    padding: 0px 50px;
    flex-direction: column-reverse;
  }
  .compDetails {
    padding: 0px 50px;
  }
  .watchInfo span {
    height: fit-content;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 2560px) {
  .CompetitionMain {
    align-self: center;
    width: 83.5%;
  }
  .compDesc {
    align-items: center;
  }
  .compDet {
    width: 83%;
  }
  .images {
    width: fit-content;
  }
}
