.MainCon {
  display: flex;
  align-items: flex-start;
  background-color: #faf8f6;
}

.Dashboard {
  width: 181px;
  height: 100vh;
  position: fixed;
  left: 0;
  background-color: #a8957e;
  color: hsla(0, 0%, 100%, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Dashboard p {
  margin-bottom: 0 !important;
}
.logo {
  display: grid;
  place-items: center;
  padding: 12.5px 0px;
  margin-bottom: 50px;
}
.logo img {
  -webkit-filter: invert(1);
  filter: invert(1);
}
.Dashmenus {
  padding: 20px 0px;
  transition: all 0.5s ease-in-out;
}
.Dashmenus span {
  text-transform: uppercase;
  padding-left: 10px;
}
.Menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 43px;
  font-size: 14px;
  cursor: pointer;
}
.Menu:hover {
  color: white !important;
}
.Menu p {
  width: 70%;
}
.Nav {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Nav img {
  cursor: pointer;
}
.Nav div {
  margin-right: 20px;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.search {
  margin-left: 20px;
}
.dashBody {
  width: 100%;
  display: flex;
  padding-left: 181px;
  flex-direction: column;
  align-items: flex-start;
}
.Body {
  padding: 0px 20px 20px 20px;
  width: 100%;
}
.DashCompsMain {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.dashCompsGrid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}
.dashGridItem {
  width: 49%;
  height: fit-content;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.dashWatchesGridItem {
  width: 49%;
  height: fit-content;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  gap: 1rem;
}
.dashWatchGridDet {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.dashGridItemTop {
  display: flex;
  gap: 1rem;
}
.dashGridItemBot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashGridItemBot div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.dashGridItemTop p {
  width: 45%;
  color: grey;
  font-weight: 400;
  margin-bottom: 0 !important;
}
.dashGridItem h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 0 !important;
}
.dashCompsTopHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashCompsTopHeader button {
  display: flex;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  gap: 0.5rem;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
}
.dashCompsTopHeader h1 {
  font-family: "Iskry", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}
@font-face {
  font-family: Iskry;
  src: url(../../public/images/Iskry-Regular.otf);
}
