.confirmwrapper {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  padding-bottom: 80px;
  padding-left: 80px;
  padding-right: 80px;
  flex-direction: column;
  background-color: transparent;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  margin: 50px;
  flex-direction: row;
  align-items: center;
  min-height: 400px;
  max-width: 800px;
  justify-content: center;
  background-color: transparent;
}

.wrapper > h1 {
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 5px;
}

.head {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0px;
  color: white;
  font-size: 14px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: transparent;
  background-color: rgb(199, 157, 115);
}
.head > header {
  width: 100%;
  color: white;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.comp_info {
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.comp_info > h6 {
  font-weight: 400;
  font-size: 15px;
  /* font-family: "Iskry", sans-serif; */
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding-bottom: 5px;
}

.qrcode {
  width: 100%;
  padding-top: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.wrapper > footer {
  width: 100%;
  text-transform: uppercase;
  display: grid;
  place-items: center;
  flex-direction: row;
  background-color: transparent;
}

.wrapper > footer > h1 {
  color: blue ;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}


.wrapper > footer > h6 {
  color: black ;
  padding-top: 20px;
  padding-bottom: 5px;
  font-weight: 500;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}



.wrapper > footer > p {
  color: black;
  padding-top: 20px;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}



@media (max-width: 800px) {
  
  .confirmwrapper {
    padding: 20px;
  }
  .wrapper {
    width: 100%;
    height: 100%;
    margin: 0px;
    display: grid;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    max-width: 600px;
    justify-content: center;
    background-color: transparent;
  }
  .head {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .comp_info {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}


